.blacknavbar{
    display: flex;
    justify-content: end;
    background-color: black;
    height: 40px;
}
.whitenavbar{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 50px;
    
    
}
.whitenavbar{
    display: flex;
    align-content: center;
}
.whitenavbarcontenttext{
    margin-top: 9px;
    margin-left: 5px;
    color: blue;
    font-size: 35px;
}
#whitenavbarcontenttext2{
    margin-top: 20px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
#whitenavbarcontenttext3{
    margin-top: 20px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
#whitenavbarcontenttext4{
    margin-top: 20px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
#whitenavbarcontenttext5{
    margin-top: 20px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
#whitenavbarcontenttext6{
    margin-top: 20px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.twobox{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: rgb(44, 43, 43);
}
.box1{
    border: 2px solid blue;
    background-color: blue;
    margin-top: 20px;
    text-align: center;
    font-size:22px;
    height: 50px;
    width: 120px;
}
a:link {
color: rgb(0, 0, 0); 
}
a:visited {
color: rgb(0, 0, 0); 
}
a:active {
color: rgb(255, 255, 255); 
}
.box2{
    margin-top: 20px;
    border: 2px solid blue;
    /* background-color: blue; */
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:20px;
    height: 50px;
    width: 120px;
}
.textofbox1{
    margin-top: 10px;
}
.featuregames{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.featuretext{
    font-size: 40px;
    margin-left: 600px;
    margin-top: 20px;
}
.fbox1 img{
    height: 376px;
    width: 376px;
}
.fbox2 img{
    height: 376px;
    width: 376px;
  
}
.fbox3 img{
    height: 376px;
    width: 376px;
}
.fbox4 img{
    height: 376px;
    width: 376px;
}
.fbox5 img{
    height: 376px;
    width: 376px;
}
.fbox6 img{
    height: 376px;
    width: 376px;
}

.lgb{
    display: flex;
    justify-content: center;
    text-align: center;
}
.latestgamebox {
    border: 2px solid black;
    height: 60px;
    width: 180px;
    margin-top: 45px;
    font-size: 30px;
}

.latestupdatesbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
   
}
.latestupdates{
    font-size: 40px;
    margin-left: 620px;
    margin-top: 100px;
}
.lbox1{
 
    box-shadow: 10px 10px 5px lightgray;
     height: 468px;
    width: 388px;
}
.lbox1 img{
    height: 204px;
    width: 388px;
}
.lbox1 div.lbox1div{
    color: blue;
    padding-left: 20px;
    padding-top: 20px ;
    ;
}
.lbox1 div.lbox1date{
  padding-left: 20px;
  padding-top: 5px;
   
}
.lbox1 div.lbox1title{
    font-size: 28px;
   padding-top: 10px;
   padding-left: 20px;
}
.lbox1 div.lbox1body{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 17px;
}


.ea-section {
  background-image: url("eacom-ea-play-hero-md-grid-7x2-xl-en.jpg.adapt.crop2x1.1023w.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 80px;
  position: relative;
}
.ea-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
}

.joinnow{
    border: 2px solid white;
    height: 50px;
    width: 180px;
    color: white;
}
.content {
text-align: center;
  position: relative;
  max-width: 450px;
  z-index: 1;
  margin-top: 20px;
}
.content div.joinnow{
    margin-top: 30px;
    padding-top: 30px ;
    font-size: 25px;
}

.content h1 {
  font-size: 60px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
h1,h2,p {
    color: white;
}
.bluepart{
    height: 130px;
    background-color: rgb(27, 151, 213);
    display: flex;
    
}
.blueparttext{
    margin-left: 150px;
    padding-top: 30px;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bluepartbox{
    border: 2px solid black;
    height: 60px;
    width: 150px;
    padding-left: 30px;
    margin-left: 250px;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 25px;
}
.darkbluepart{
    display: flex;
    align-items: center;
  background-color: rgb(19,19,87);
    height: 500px;   
}

.darkblueparttext{
    color: white;
    font-size: 25px;
}
.footer{
    height: 35px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.footer1{
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.footer2{
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.footer1 div{
    margin-top: 2px;
}
.footer2 div{
    margin-top: 2px;
}
.line{
    border: 1px solid black;
    background-color: black;
    height: 1px;
    
}
.latestupdatesbox .lbox1 {
      transition: transform 0.3s, box-shadow 0.3s;
}
.latestupdatesbox .lbox1:hover {
      transform: translateY(-8px) scale(1.03);
      box-shadow: 0 8px 24px rgba(0,0,0,0.15);
      z-index: 1;
}

.featuregames > div {
      transition: transform 0.3s, box-shadow 0.3s;
      cursor: pointer;
}
.featuregames > div:hover {
      transform: scale(1.08);
      box-shadow: 0 8px 24px rgba(0,0,0,0.18);
      z-index: 2;
}

.dropdown {
          position: relative;
          display: inline-block;
}
 
.dropdown-content {
          display: none;
          position: absolute;
          background: #fff;
          min-width: 180px;
          box-shadow: 0 2px 8px rgba(0,0,0,0.15);
          z-index: 100;
          border-radius: 4px;
          padding: 8px 0;
}

.dropdown-content a {
          color: #222;
          padding: 10px 20px;
          text-decoration: none;
          display: block;
          font-size: 15px;
          transition: background 0.2s;
}

.dropdown-content a:hover {
          background: #f2f2f2;
}

      
.dropdown:hover .dropdown-content {
          display: block;
}

#whitenavbarcontenttext2, #whitenavbarcontenttext3, #whitenavbarcontenttext4, #whitenavbarcontenttext5, #whitenavbarcontenttext6 {
          position: relative;
}

.box1, .box2 {
          transition: box-shadow 0.3s, transform 0.3s;
          cursor: pointer;
}

.box1:hover, .box2:hover {
          box-shadow: 0 4px 16px rgba(0,0,0,0.2);
          transform: translateY(-4px) scale(1.03);
}

.box1 .textofbox1 a, .box2 a {
          transition: color 0.3s;
}

.box1:hover .textofbox1 a,
.box2:hover a {
          color: #0078ff;
}


.latestgamebox {
      transition: background 0.3s, color 0.3s;
      cursor: pointer;
}
.latestgamebox:hover {
      background: #0074e4;
      color: #fff;
}
.latestgamebox:hover a {
      color: #fff;
      text-decoration: underline;
}
  



